<div class="container">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <hr>
  <div class="row">

    <div class="col-lg-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}, class: 'form-horizontal') do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control devise' %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :current_password %> <i><%= devise_password_confirm %></i><br/>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
            <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br/>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control devise' %>
            </div>
          </div>

          <div class="actions devise-buffer-top">
            <%= f.submit "Update", class: 'btn btn-primary pull-right buffer-left-5' %>
          </div>
      <% end %>
      <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger pull-right', data: {confirm: "Are you sure?"}, method: :delete %>
      <div class="actions devise-buffer-top">
        <p><%= link_to "Back", :back, class: 'pull-right buffer-right-5' %></p>
      </div>
    </div>
  </div>

</div>



