<div class="container">
  <h3>Change your password</h3>
  <hr>
  <div class="row">
    <div class="col-lg-6">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "New password" %><br/>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
            <% end %>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %><br/>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="actions devise-buffer-top">
            <%= f.submit "Change my password", class: 'btn btn-primary' %>
          </div>
      <% end %>

    </div>
  </div>
</div>