<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control devise' %>
  </div>

    <%= recaptcha_tags class: 'buffer-top-5' %>

    <% if resource.errors[:base].present? %>
        <%= label_tag :base, resource.errors[:base].last, class: 'message' %>
    <% end %>

  <div class="actions devise-buffer-top">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
