<table class="table table-striped d-print-table">
  <thead class="thead-dark">
  <tr>
    <th><%= t(:expense_heading) %></th>
    <th><%= t(:expense_amount) %></th>
    <th><%= t(:expense_type) %></th>
    <th><%= t(:created_at) %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody id="search_list">
  <% expenses.each_with_index do |expense| %>
    <tr>
      <td><%= expense.name %></td>
      <td><%= expense.current_currency %></td>
      <td><%= expense.expense_type %></td>
      <td><%= expense.created_at.strftime('%d.%m.%Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<span>Total amount: <%= number_to_currency(total_amount, unit: convert_currency, delimiter: ' ', format: '%n %u') %></span>