<div class="col-lg-4 filters-bar">
  <div class="well sidebar-nav">
    <h3><%= t(:expenses_filters) %></h3>
    <div class="link-tags">
      <%= form_for(current_user, url: user_filter_path(current_user), method: :put) do %>
        <%= hidden_field_tag 'data[duration]' %>

        <div id="reportrange" class="calendar form-control">
          <i class="fa fa-calendar"></i>&nbsp;
          <span id="filter_date_duration"></span> <i class="fa fa-caret-down"></i>
        </div>
        <br>

        <%= label_tag 'data[rubric_names]', 'Rubrics' %>
        <%= text_field_tag 'data[rubric_names]', current_user.filter.data['rubric_name'], class: 'form-control filter-rubrics', placeholder: 'Rubric1,Rubric2', value: current_user.filter.data['rubric_names'] %>
            <br><br>

            <%= label_tag 'data[amount][start]', 'Amount range' %>
            <span> >= </span>
            <%= text_field_tag 'data[amount][start]', round_amount(current_user.filter.data['amount']['start']), class: 'form-control amount-range', placeholder: '0.00' %>
            <span> <= </span>
            <%= text_field_tag 'data[amount][finish]', round_amount(current_user.filter.data['amount']['finish']), placeholder: '∞', class: 'form-control amount-range placeholder_center' %>

        <br><br>

        <%= label_tag('currency[name]', 'Currency convert') %>
        <% range = FiltersHelper::CurrencyNames.new(current_user.filter.currency.name) %>
        <%= select_tag('currency[name]', options_for_select(range.names), prompt: range.current_name, class: 'form-control currency-convert') %>
        <br>

        <div class="row">
            <%= button_to user_filter_path(current_user), method: :put, class: 'btn-alignment button-apply' do %>
              <i class="fa fa-check apply" aria-hidden="true">Apply</i>
            <% end %>

            <%= link_to reset_user_filter_path(current_user), class: 'link-reset', method: :put do %>
              <i class="fa fa-refresh link-alignment reset" aria-hidden="true">&nbsp;Reset</i>
            <% end %>
        </div>

      <% end %>
      <br>

    </div>
  </div><!--/.well -->
</div><!--/span-->