<script>
    $(function() {
        <% if @expense.created_at.nil? %>
          var start2 = moment();
        <% else %>
          var start2 = moment("<%= @expense.created_at.to_date.to_s %>");
        <% end %>

        function cb(start2) {
            $('#expense_date span').html(start2.format('MMMM D, YYYY'));
        }

        $('#expense_date').daterangepicker({
            singleDatePicker: true,
            startDate: start2,
            maxDate: moment(),
            showDropdowns: true,
            locale: {
                format: 'MMMM D, YYYY'
            }
//                          minYear: 2000,
//                          maxYear: 2018
        }, cb);

        cb(start2);
    });

    $('#modal-sub').click(function() {
        $('#expense_created_at').val($('#date').html());
    });
</script>

<%= form_for(@expense, local: true, remote: true) do |form| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% @expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Expense <%= action_name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="actions">
            <form action="create.js.coffee">

              <div class="form-group row">
                <%= form.label :name, class: 'col-xs-3 col-form-label mr-2' %>
                <div class="col-xs-9">
                  <%= form.text_field :name, class: 'form-control', maxlength: Expense::MAX_LENGTH %>
                </div>
              </div>

              <div class="form-group row">
                  <%= form.label :created_at, class: 'col-xs-3 col-form-label mr-2' %>
                  <%= hidden_field_tag 'expense[created_at]' %>
                <div class="col-xs-9">
                  <div id="expense_date" class="calendar form-control">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span id="date"></span> <i class="fa fa-caret-down"></i>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <%= form.label :amount, class: 'col-xs-3 col-form-label mr-2' %>
                <div class="col-xs-9">
                  <%= form.text_field :amount, value: '%.2f' % @expense.amount, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group row">
                <%= label_tag('expense[currency_attributes[name]]', 'Currency', class: 'col-xs-3 col-form-label mr-2') %>
                <div class="col-xs-9">
                  <% if action_name == 'new' %>
                    <%= select_tag('expense[currency_attributes[name]]', options_for_select(Currency.names.to_a.map(&:first)), class: 'form-control currency-modal') %>
                  <% elsif action_name == 'edit' %>
                    <% range = FiltersHelper::CurrencyNames.new(@expense.currency.name) %>
                    <%= select_tag('expense[currency_attributes[name]]', options_for_select(range.names), prompt: @expense.currency.name, class: 'form-control') %>
                <% end %>
                </div>
              </div>

              <div class="form-group row">
                <%= form.label :expense_type, class: 'col-xs-3 col-form-label mr-2' %>
                <div class="col-xs-9 clear_after_create">
                  <%= form.text_field :expense_type, class: 'form-control clear_after_create' %>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= hidden_field_tag 'page', params[:page] %>
          <%= form.submit(class: 'btn btn-primary', id: 'modal-sub') %>
        </div>
      </div>
    </div>
  </div>


<% end %>
