<script type="text/javascript" charset="utf-8">
  // assets/javascripts/application.js
  var duration_start = "<%= @filter.first %>";
  var duration_end = "<%= @filter.last.to_date %>";
</script>

<div class="notice"></div>
<div id="myModal"></div>

  <%= link_to 'New Expense', new_expense_path, class: 'btn btn-success', remote: true %>
  <br><br>
  <%= form_tag('', method: :get, remote: true) do %>
    <span>Expenses</span>
    <%= text_field_tag('', '', placeholder: t(:expenses_search), id: 'search', maxlength: Expense::MAX_LENGTH) %>
    <br>
<% end %>

<div class="row">

  <div class="col-lg-8">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th><%= t(:expense_heading) %></th>
      <th><%= t(:expense_amount) %></th>
      <th><%= t(:expense_type) %></th>
      <th><%= t(:created_at) %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody id="search_list">
    <% @expenses.each_with_index do |expense, index| %>
        <tr id="<%= "col_#{ expense.id }" %>">
          <td><%= expense.name %></td>
          <td><%= expense.current_currency %></td>
          <td><%= expense.expense_type %></td>
          <td><%= expense.created_at.strftime('%d.%m.%Y') %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense), class: 'btn btn-warning', remote: true %></td>
          <td><%= link_to 'Destroy', expense_path(expense), method: :delete,
                          class: 'btn btn-danger destroyer', remote: true %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
    <p id="total_sum">Total: <%= Expense.total_sum(current_user.id) %></p>
    <%= paginate @expenses, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm' %>
  </div>

  <div class="col-lg-4">
    <div class="well sidebar-nav">
      <h3><%= t(:expenses_filters) %></h3>
      <div class="link-tags">
        <%= form_for(current_user, url: user_filter_path(current_user), method: :put) do |f| %>
          <%= hidden_field_tag 'data[duration]' %>

          <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span id="filter_date_duration"></span> <i class="fa fa-caret-down"></i>
          </div>
          <br>

          <%= label_tag 'data[rubric_names]', 'Rubrics' %>
          <%= text_field_tag '[data[rubric_names]]', current_user.filter.data['rubric_name'], placeholder: 'Rubric1,Rubric2', value: current_user.filter.data['rubric_names'] %>
          <br><br>

          <%= label_tag 'data[amount][start]', 'Amount range' %>
          <span> >= </span>
          <%= text_field_tag 'data[amount][start]', round_amount(current_user.filter.data['amount']['start']), size: 5, placeholder: '0.00' %>
          <span> <= </span>
          <%= text_field_tag 'data[amount][finish]', round_amount(current_user.filter.data['amount']['finish']), size: 5, placeholder: '∞', class: 'placeholder_center' %>
          <br>

          <%= label_tag('currency[name]', 'Currency convert') %>
          <% range = FiltersHelper::CurrencyNames.new(current_user.filter.currency.name) %>
          <%= select_tag('currency[name]', options_for_select(range.names), prompt: range.current_name) %>
          <br>

          <%= button_to user_filter_path(current_user), method: :put, style: 'background: none; border: none;' do %>
            <i class="fa fa-check" aria-hidden="true" style="color: #4cae4c">Apply</i>
          <% end %>
          <%= link_to 'Apply', nil do %>
            <i class="fa fa-refresh" aria-hidden="true" style="color: #d43f3a; float: right;">&nbsp;Reset</i>
          <% end %>
        <% end %>
        <br>

      </div>
    </div><!--/.well -->
  </div><!--/span-->
</div>

