<script type="text/javascript" charset="utf-8">
  // assets/javascripts/application.js.erb
  var duration_start = "<%= @filter.first %>";
  var duration_end = "<%= @filter.last.to_date %>";
</script>

<div id="results"></div>

<div class="notice"></div>
<div id="myModal"></div>
<div class="print" id="print"></div>

  <%= link_to 'New Expense', new_expense_path(page: params[:page]), class: 'btn btn-success', remote: true %>
  <br><br>
  <%= form_tag('', method: :get, remote: true) do %>
    <label for="search" id="search_label">Expenses</label>
    <%= text_field_tag('', '', placeholder: t(:expenses_search), class: 'form-control mr-sm-2', id: 'search',
                       maxlength: Expense::MAX_LENGTH) %>
    <br>
<% end %>

<div class="row">

  <div class="col-lg-8">
  <table class="table table-striped" id="expenses">
    <thead class="thead-dark">
    <tr>
      <th><%= t(:expense_heading) %></th>
      <th><%= t(:expense_amount) %></th>
      <th><%= t(:expense_type) %></th>
      <th><%= t(:created_at) %></th>
      <th></th>
      <th>
        <%= link_to edit_user_expenses_sender_path(current_user), remote: true do %>
            <i class="fa fa-envelope printer" aria-hidden="true"></i>
      <% end %>
        <%= link_to print_user_expenses_print_path(current_user), id: 'click_me', remote: true do %>
          <i class="fa fa-print printer" aria-hidden="true"></i>
        <% end %>
      </th>
    </tr>
    </thead>

    <tbody id="search_list">
    <% @expenses.page(params[:page]).each do |expense| %>
        <tr id="<%= "col_#{ expense.id }" %>">
          <td><%= expense.name %></td>
          <td><%= expense.current_currency %></td>
          <td><%= expense.expense_type %></td>
          <td><%= expense.created_at.strftime('%d.%m.%Y') %></td>
          <td class="not-for-print"><%= link_to 'Edit', edit_expense_path(expense, page: params[:page], exp: {amount: expense.amount,
                                                                                         currency: expense.currency}),
                                                                                         class: 'btn btn-warning',
                                                                                         remote: true %>
          </td>
          <td class="not-for-print"><%= link_to 'Destroy', expense_path(expense, page: params[:page]), method: :delete,
                          class: 'btn btn-danger destroyer', remote: true %></td>
        </tr>
    <% end %>
        <tr class="js-calibration"></tr>
    </tbody>
  </table>
    <p id="total_sum">Total: <%= number_to_currency(current_user.currency_convert.total_amount,
                                                    unit: current_user.currency_convert.convert_currency,
                                                    delimiter: ' ', format: '%n %u') %>
    </p>
    <div id="pagination">
      <%= paginate @expenses.page(params[:page]), page: @expenses.page.current_page, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm' %>
    </div>
  </div>

  <%= render 'filters/filter' %>
</div>