<div class="notice"></div>
<div id="myModal"></div>

<div class="container-fluid">
  <%= link_to 'New Expense', new_expense_path, class: 'btn btn-success', remote: true %>
  <br><br>
  <%= form_tag('', method: :get, remote: true) do %>
    <span>Expenses</span>
    <%= text_field_tag('', '', placeholder: t(:expenses_search), id: 'search', maxlength: Expense::MAX_LENGTH) %>
    <br>
<% end %>

<div class="row">

  <div class="col-lg-9">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th><%= t(:expense_heading) %></th>
      <th><%= t(:expense_amount) %></th>
      <th><%= t(:expense_type) %></th>
      <th><%= t(:created_at) %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody id="search_list">
    <% @expenses.each_with_index do |expense, index| %>
        <tr id="<%= "col_#{ index + 1 }" %>">
          <td><%= expense.name %></td>
          <td><%= number_to_currency(expense.amount, unit: expense.type_amount, separator: '.', format: '%n %u') %></td>
          <td><%= expense.expense_type %></td>
          <td><%= expense.created_at.strftime('%d.%m.%Y') %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense, tr_id: index + 1), class: 'btn btn-warning', remote: true %></td>
          <td><%= link_to 'Destroy', expense_path(expense, tr_id: index + 1), method: :delete,
                          class: 'btn btn-danger destroyer', remote: true %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
    <p id="total_sum">Total: <%= Expense.total_sum %></p>
    <%= paginate @expenses, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm' %>
  </div>

  <div class="col-lg-3">
    <div class="well sidebar-nav">
      <h3>Sidebar</h3>
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li><%= link_to "Link1", "/path1"  %></li>
        <li><%= link_to "Link2", "/path2"  %></li>
        <li><%= link_to "Link3", "/path3"  %></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div>
</div>

